*{
	margin: 0;
	padding: 0;

}
.item_c img{
	width: 100%;
	height: auto;
	border-radius: 4px;

}
.item_c .icon-item{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.name-item {
	margin-left: 20px;
}
.acount-item{
	padding: 10px 15px;
}
h4{
	font-weight: 400 !important;
}
h4 span{
	font-weight: 500;
}
.item_c{

	padding-top: 15px;

}