.section {
}

.section__background {
  height:200px;
  background-size:cover;
}

@media (min-width: 768px) {
  .section__background {
    height:675px;
  }
}

.section_asking {
  max-width:1200px;
  position:relative;
}

.section__asking__form {
  background-color:white;
  border-radius:5px;
  position:relative;
  padding:10px;
}

@media (min-width: 768px) {
  .section__asking__form {
    width:476px;
    height:486px;
    padding:32px;
    position:absolute;
    top:-600px;
  }
}

.section__asking__form__head {
  position:absolute;
  top:-50px;
  color:white;
}

.section__asking__form__description {
  display:none;
}

@media (min-width: 576px) {
  .section__asking__form__head {
    top:-90px;
  }
}

@media (min-width: 576px) {
  .section__asking__form__description {
    display:initial;
  }
}

@media (min-width: 768px) {
  .section__asking__form__head {
    color:black;
  }
}

@media (min-width: 768px) {
  .section__asking__form__head {
    position:relative;
    top:0;
  }
}

.btn-form {
  width:100%;
}

.container {
  max-width:1200px;
  align-content:center;
  display:-webkit-flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-align-content:center;
  margin:0 auto;
}

.padding {
  padding:10px;
}

@media (min-width: 768px) {
  .padding {
    padding:20px;
  }
}

.center {
  margin:0 auto;
}

.title--size-sm {
  font-size:0.9em;
}

.title--size-md {
  font-size:0.95em;
}

.add-date__btn {
  background-color:#008489;
  border:#008489;
}

.add-date__btn:hover {
  background-color:#01abb1;
}

.highlight {
  color:rgb(163,23,107);
}

